html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}
.login-page {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #ffffff;
    z-index: 2;
    display: flex;
}
.login-page form {
    display: flex;
    margin: auto;
}
.main {
    display: flex;
    width: 600px;
    height: 100%;
    margin: auto;
    box-shadow: 0 0 12px #777;
    padding: 20px;
    position: relative;
    box-sizing: border-box;
}
.main ul {
    list-style: none;
    width: 100%;
    margin-bottom: 60px;
    overflow-y: auto;
}
.main ul li {
    width: 100%;
    display: block;
    border-bottom: solid 1px #bbbbbb;
    font-size: 18px;
    line-height: 26px;
}
.main ul li:last-child {
    border-bottom: none;
}
.main ul li.login {
    color: lime;
    font-weight: bold;
}
.main ul li.msg div {
    float: right;
    width: 100px;
    background: #bbbbbb;
    text-align: center;
}
.main ul li.msg-cur {
    color: red;
}
.main form {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    background: yellow;
    padding: 20px;
}
.main form input {
    width: 100%;
    padding: 3px;
    font-size: 18px;
    line-height: 24px;
    box-sizing: border-box;
}